.edit-settings-modal {
  &__content {
    width: 480px;
    margin: 24px;

    & > :not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__actions-panel {
    margin-top: 10px;

    & > * {
      margin-right: 16px;
    }
  }
}
