@import '../../common/style-guide/index';

.input-wrapper {
  position: relative;

  &__input-element {
    width: 100%;
    height: $common-element-height;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid map-get($color-palette, black35);
    background-color: map-get($color-palette, white);
    padding: 0 17px;
    outline: none;

    &::placeholder {
      opacity: 0.5;
    }

    &--rounded {
      border-radius: 20px;
      padding: 0 48px;
    }

    &--disabled {
      border: 1px solid map-get($color-palette, light-blue);
      background-color: $athens-gray;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    color: $slate-gray;
    left: 12px;
    top: 10px;
  }
}
