@import '../../common/style-guide/index';

.badge {
  border: 1px solid map-get($color-palette, green100);
  border-radius: 14px;
  font-size: 11px;
  line-height: 12px;
  padding: 4px 10px;
  color: map-get($color-palette, green100);
}
