{
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [2, { "devDependencies": ["**/spec.tsx", "**/spec.ts"] }],
    "import/extensions": 0,
    "@typescript-eslint/indent": [2, 2],
    "no-console": 2,
    "eofline": 0,
    "arrow-parens": 0,
    "ordered-imports": 0,
    "object-literal-sort-keys": 0,
    "no-empty": 2,
    "no-unused-expression": 0,
    "linebreak-style": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "max-len": ["error", { "code": 140 }],
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-unused-expressions": 0,
    "react/jsx-props-no-spreading": 0
  }
}
