@import "../../../common/style-guide/index";

.agent-is-offline {
  color: map-get($monochrome, black);
  font-size: 14px;
  font-family: $regular-font;

  &__message {
    font-family: $semibold-font;
  }
}
