@import '../../common/style-guide/index';

.button {
  border-radius: 20px;
  min-height: $common-element-height;
  width: 320px;
  outline: 0;

  &:hover {
    &:not(.button--disabled) {
      cursor: pointer;
      opacity: 0.75;
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
    }
  }

  &--disabled {
    opacity: 0.25;
  }

  &--type {
    &--primary {
      font-family: $regular-font;
      border: 1px solid map-get($color-palette, blue100);
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
      font-size: 16px;
      line-height: 22px;
    }
    &--secondary {
      font-family: $semibold-font;
      border: 1px solid map-get($color-palette, blue100);
      background-color: map-get($color-palette, white);
      color: map-get($color-palette, blue100);
      font-size: 14px;
      line-height: 19px;
    }
  }
}
