@import '../../../../common/style-guide/index';

.agent-status {
  font-family: $semibold-font;

  &--status {
    &--online {
      color: map-get($green, default);
    }

    &--offline {
      color: map-get($monochrome, default);
    }

    &--not-registered {
      color: map-get($monochrome, default);
    }

    &--busy {
      color: map-get($orange, default);
    }
  }
}
