@import '../../../../common/style-guide/index';

.agent-status {
  font-family: $semibold-font;
  &__content {
    &--status {
      &--online {
        color: map-get($color-palette, green100);
      }
      &--offline {
        color: map-get($color-palette, red100);
      }
      &--busy {
        color: map-get($color-palette, yellow50);
      }
    }
  }
}
