#drill4j-widget-container {
  position: fixed;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.react-grid-item {
  pointer-events: auto;
}

.react-grid-item.react-draggable-dragging {
  z-index: 1;
}

.react-grid-placeholder {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 1px inset rgba(0, 0, 0, 0.2);
}
