@import '../../../../common/style-guide/index';

.in-progress {
  height: 320px;
  width: 320px;

  &__header {
    display: flex;
    align-items: center;
    height: 49px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    background-color: map-get($color-palette, green100);
    color: map-get($color-palette, white);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 20px;
    color: $slate-gray;
  }

  &__instructions {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 8px;
  }

  &__finish-button {
    min-height: 32px;
    width: 144px;
  }

  &__cancel-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: map-get($color-palette, red100);
    cursor: pointer;
    margin-top: 16px;
  }
}
