@import '../../../common/style-guide/index';

.error-message {
  color: map-get($color-palette, red100);
  font-family: $regular-font;
  font-size: 12px;
  line-height: 18px;

  &::first-letter {
    text-transform: uppercase;
  }
}
