@import '../../../../common/style-guide/index';

.start-recording {
  width: 320px;
  height: 280px;

  &__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  &__content {
    margin: 12px 24px;
    margin-top: 8px;
  }

  &__message {
    font-size: 13px;
    line-height: 22px;
    color: $slate-gray;
  }

  &__test-name {
    font-size: 14px;
    line-height: 40px;
  }

  &__start-button {
    margin-top: 16px;
  }
}
