@import '../../../common/style-guide/index';

.main-page {
  height: 272px;
  font-family: $regular-font;
  font-size: 14px;
  line-height: 20px;
  color: map-get($monochrome, default);

  &__header {
    height: 48px;
    border-bottom: 1px solid map-get($monochrome, medium-tint);
    color: map-get($monochrome, default);
  }
}
