@import '../../../common/style-guide/index';

.main-page {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 320px;
  font-family: $regular-font;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    color: map-get($color-palette, middle-blue);
    padding: 0 16px;
  }

  &__agent-name {
    font-size: 14px;
    font-family: $semibold-font;
    line-height: 20px;
    margin-left: 8px;
  }

  &__content {
    box-sizing: border-box;
    margin: 16px;
    font-size: 14px;
    line-height: 20px;
    color: $slate-gray;
  }

  &__footer {
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    color: $slate-gray;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
  }

  &__actions-panel {
    margin-top: 32px;

    & > :not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    color: map-get($color-palette, blue100);
    cursor: pointer;
    text-decoration: none;
  }
}
