@import "../../../common/style-guide";

.manual-test-error {
  font-size: 14px;
  color: map-get($red, default);
  font-family: $regular-font;

  &__icon {
    color: map-get($primary-blue, default);
    cursor: pointer;
  }

  &__icon-tooltip {
    width: 120px;
    top: 50%;
    left: -120px;
    transform: translateY(-50%);
    color: map-get($monochrome, black);
    font-size: 12px;
  }

  &__error-message {
    display: inline-block;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .1;

    &--visible {
      opacity: 1;
    }
  }
}
