@import '../../../../common/style-guide/index';

.finish-recording {
  width: 320px;
  height: 280px;

  &__header {
    display: flex;
    align-items: center;
    padding: 12px 24px 0 24px;
    font-size: 16px;
    line-height: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    color: $slate-gray;
  }

  &__title {
    font-size: 14px;
    line-height: 32px;
    color: map-get($color-palette, dark-blue);
    font-family: $semibold-font;
  }

  &__test-results {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
