@import '../../common/style-guide/index';

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &__agent {
    height: 56px;
    cursor: pointer;
  }

  &__logo {
    height: 26px;
  }

  &__plugins-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__plugin-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    cursor: pointer;

    &--active {
      background-color: map-get($color-palette, white);
      color: map-get($color-palette, blue100);
    }
  }

  &__drill-logo {
    height: 40px;
    border-top: 1px solid map-get($color-palette, light-blue);
  }
}
