$slate-gray: #74818e;
$athens-gray: #f2f4f7;
$gravel-color: #464547;
$shade-gray: #687481;

$color-palette: (
  white: #fff,
  black100: #1b191b,
  black75: #545354,
  black50: #8d8c8d,
  black35: #bdc7cc,
  black25: #c6c5c6,
  black15: #e3e6e8,
  black10: #e8e8e8,
  black5: #f3f3f3,
  dark-blue: #0f2434,
  middle-blue: #909ea9,
  light-blue: #e9ebf0,
  ultra-light-blue: #f8f9fb,
  blue100: #007fff,
  blue15: #d9ecff,
  yellow100: #f8e71c,
  yellow10: #fefce8,
  red100: #ff0202,
  red75: #f13333,
  red10: #ffe5e5,
  green100: #00b602,
  green10: #e5f7e5,
);

$primary-blue: (
        default: #007fff,
        shade: #006cd8,
        medium-tint: #3399ff,
        light-tint: #e5f2ff,
        ultralight-tint: #e5f2ff,
);

$monochrome: (
        black: #1b191b,
        white: #ffffff,
        default: #687481,
        shade: #58626d,
        dark-tint: #a4acb3,
        medium-tint: #e3e6e8,
        light-tint: #f8f9fb,
);

$green: (
        default: #00b602,
        shade: #009402,
        medium-tint: #33c535,
        light-tint: #e5f7e5,
);

$red: (
        default: #ee0000,
        shade: #cc0000,
        medium-tint: #f13333,
        light-tint: #fccccc,
        ultralight-tint: #fde5e5,
);

$yellow: (
        default: #ffdd00,
        shade: #ebcb00,
        medium-tint: #ffe74c,
        light-tint: #fffbe5,
);

$orange: (
        default: #f5a623,
        shade: #dc931b,
        medium-tint: #f7b84f,
        light-tint: #fef6e9,
);

$data-visualization: (
        scrollbar-thumb: #ccd0db,
        coverage: #62adfc,
        overlapping: #4f8ac9,
        scope-cover: #aed4fd,
        saved-time: #67d5b5,
        auto: #d599ff,
        manual: #88e2f3,
);
