@import '../../../../common/style-guide/index';

.in-progress {
  width: 320px;
  height: 280px;

  &__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px 20px;
    color: $slate-gray;
  }

  &__test-timer {
    margin-bottom: 8px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
    color: map-get($color-palette, black100);

    :first-child {
      margin-right: 8px;
    }
  }

  &__test-results-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__finish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    width: 144px;
  }

  &__finish-button-icon {
    margin-right: 8px;
  }

  &__cancel-button {
    color: map-get($color-palette, red100);
    border: 1px solid map-get($color-palette, red100);
    cursor: pointer;

    &:hover {
      border: 1px solid map-get($color-palette, red75);
    }
  }
}
