@import '../../../../common/style-guide/index';

.in-progress {
  width: 320px;
  height: 280px;

  &__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 20px;
    color: $slate-gray;
  }

  &__timer-wrapper {
    margin-left: 16px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: map-get($color-palette, dark-blue);
  }

  &__instructions {
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 32px;
    color: $slate-gray;
  }

  &__finish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    width: 144px;
  }

  &__finish-button-icon {
    margin-right: 8px;
  }

  &__cancel-button {
    color: map-get($color-palette, red100);
    border: 1px solid map-get($color-palette, red100);
    cursor: pointer;

    &:hover {
      border: 1px solid map-get($color-palette, red75);
    }
  }
}
