@import '../../../../common/style-guide/index';

.in-progress {
  width: 320px;
  height: 280px;

  &__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  // TODO remove that once spinner is added to kit
  &__pending-request-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__spinner {
    margin-right: 15px;
    font-size: 10px;
    text-indent: -9999em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: map-get($color-palette, blue100);
    background: linear-gradient(to right, map-get($color-palette, blue100) 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: rotate360 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &:before {
      width: 50%;
      height: 50%;
      background: map-get($color-palette, blue100);
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    &:after {
      background: map-get($color-palette, white);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  @keyframes rotate360 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px 20px;
    color: $slate-gray;
  }

  &__test-timer {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
    color: map-get($color-palette, black100);

    :first-child {
      margin-right: 8px;
    }
  }

  &__warning-message {
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }

  &__results-label {
    margin: 8px 0;
    color: map-get($color-palette, black100);
    font-family: $semibold-font;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }

  &__test-results-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__finish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    width: 144px;
  }

  &__finish-button-icon {
    margin-right: 8px;
  }

  &__cancel-button {
    color: map-get($color-palette, red100);
    border: 1px solid map-get($color-palette, red100);
    cursor: pointer;

    &:hover {
      border: 1px solid map-get($color-palette, red75);
    }
  }
}
