@import 'common/style-guide/colors';

.drill-widget-iframe {
  // some websites hide iframes with one way or the other
  // thus, the "!important" hack is required
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2147483647 !important;
  width: 100% !important;
  height: 36px !important;

  background-color: map-get($monochrome, light-tint);
  border-style: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

  position: fixed;
  left: 0;
  top: 0;

  &-position {
    &__top {
      top: 0;
      right: unset;
      bottom: unset;
      left: 0;
    }
    &__bottom {
      top: unset;
      right: unset;
      bottom: 0;
      left: 0;
    }
  }

  &--hidden {
    display: none !important;
  }
}
