@import '../common/style-guide/index';

.options-page {
  display: flex;

  &__content {
    margin: 40px 115px 0 115px;
  }

  &__header {
    font-size: 24px;
    line-height: 24px;
    font-family: $semibold-font;
  }

  &__version {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    margin-top: 8px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }

  &__notification {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}
