@import '../common/style-guide/index';

.options-page {
  height: 100%;
  background-color: map-get($monochrome, light-tint);
  color: map-get($monochrome, black);
  font-family: $semibold-font;

  &__content {
    width: 612px;
    height: 400px;
    background-color: map-get($monochrome, white);
  }

  &__save-button {
    width: 100px;
    height: 32px;
  }
}
