@import '../common/style-guide/index';

.options-page {
  display: flex;
  box-sizing: border-box;

  &__content {
    margin: 60px 114px 0 114px;
    height: 100%;
    width: 100%;
  }

  &__info {
    margin-top: 8px;
  }

  &__header {
    font-size: 24px;
    line-height: 24px;
    font-family: $semibold-font;
  }

  &__version {
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    margin-top: 8px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }
}
